html{
  height: 100%;
}

body{
  padding-top:50px;
  color: black;
  backrground-color: #ffffff;
}

#navbar{
  background-color:#ffffff;
  color: black;
  padding-right: 5px;
}

#white-icon{
  margin-top:50px;
  padding-right:10px;
  position:relative;
}

#Impressions{
  padding-top:129px;
  padding-bottom:0px;
}

#logo-row{
  background-color:black;
  font-size: 2.25em;
  font-weight: bold;
  color: white;
}

#logo-row-white{
  font-size: 2.00em;
  font-weight: bold;
  color: black;
}

#game-copy,#how-to-play{
  margin: 10px 10px 10px 10px;

  font-size:1.5em;
}

#how-to-play{
  text-align:center;
}

#app-store-badge{
  padding-top:10%;
  padding-left:30%;
  margin-bottom: 10%
}

#screenshots{
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 20px;
}

#questions{
  padding-top:50px;
  padding-bottom:50px;
  background-color:black;
  font-size: 1.75em;
  color: white;
  text-align: center;
}

#contact{
  background-color:black;
  font-size: 2em;
  font-weight: bold;
  color: white;
  text-align: center;
}

#suggestion{
  font-size:0.75em;
  color:black;
  font-weight: lighter;
  text-align:center;
}



#questions_title{
  margin-top:25px;
  margin-bottom:25px;
  font-size:1.5em;
  font-style:normal;
}

#contact_us{
  margin-bottom:100px;
}

a,a:visited{
  color: white;
  text-decoration: none;
  target: "_blank";
}

a:hover{
    color: gray;
}

#copyright{
  font-size:0.5em;
}

input,textarea{
  border-radius:5px;
  padding:5px;

}

#submit{
  text-align:right;
}

#success{

  margin-right:auto;
  margin-left:auto;
  max-width:300px;
  font-size:.75em;
}
.outcome{
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 25px;
}
